{% extends "./base.html" %}

{% block title %}Gestión de productos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de productos</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id Producto</th>
						<th>Id Categoría</th>
						<th>Proveedor</th>
						<th>Nombre producto</th>
						<th>Descripcion</th>
						<th>Precio</th>
						<th>Cantidad stock</th>
						<th>Fecha ingreso</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for p in Productos %}
                    <tr>
                        <td>{{p.id_producto}}</td>
                        <td>{{p.id_categoria}}</td>
                        <td>{{p.id_proveedor}}</td>
                        <td>{{p.nombre_producto}}</td>
                        <td>{{p.descripcion}}</td>
                        <td>{{p.precio}}</td>
                        <td>{{p.cantidad_stock}}</td>
                        <td>{{p.fecha_ingreso}}</td>
                        <td><a href="edicionProducto/{{p.id_producto}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarProducto/{{p.id_producto}}" class="btn btn-danger">Eliminar</a></td>

                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de categorías</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id Categoría</th>
						<th>Nombre categoría</th>
						<th>Descripcion categoría</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for c in Categorias %}
                    <tr>
                        <td>{{c.id_categoria}}</td>
                        <td>{{c.nombre_categoria}}</td>
                        <td>{{c.descripcion_categoria}}</td>
                        <td><a href="edicionProducto/{{c.id_categoria}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarCategoría/{{c.id_categoria}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de proveedores</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id Proveedor</th>
						<th>Nombre proveedor</th>
						<th>Dirección</th>
						<th>Número teléfono</th>
						<th>Email</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for pro in Proveedores %}
                    <tr>
                        <td>{{pro.id_proveedor}}</td>
                        <td>{{pro.nombre_proveedor}}</td>
                        <td>{{pro.direccion}}</td>
                        <td>{{pro.numero_telefono}}</td>
                        <td>{{pro.email}}</td>
                        <td><a href="edicionProducto/{{pro.id_proveedor}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarProveedor/{{pro.id_proveedor}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de clientes</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Rut Cliente</th>
						<th>Nombre cliente</th>
						<th>Dirección</th>
						<th>Número teléfono</th>
						<th>Email</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for cli in Clientes %}
                    <tr>
                        <td>{{cli.rut_cliente}}</td>
                        <td>{{cli.nombre}}</td>
                        <td>{{cli.direccion}}</td>
                        <td>{{cli.numero_telefono}}</td>
                        <td>{{cli.email}}</td>
						{% comment %}! Debería tener un id en vez de un rut, se vulnera la privacidad del cliente  {% endcomment %}
                        <td><a href="edicionProducto/{{cli.rut_cliente}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarCliente/{{cli.rut_cliente}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de facturas</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id factura</th>
						<th>Tipo transacción</th>
						<th>Cantidad</th>
						<th>Fecha factura</th>
						<th>Rut cliente</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for f in Facturas %}
                    <tr>
                        <td>{{f.id_factura}}</td>
                        <td>{{f.tipo_transaccion}}</td>
                        <td>{{f.cantidad}}</td>
                        <td>{{f.fecha_factura}}</td>
                        <td>{{f.rut_cliente}}</td>
                        <td><a href="edicionProducto/{{f.id_factura}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarFactura/{{f.id_factura}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Listado de detalle factura</h1>
		<div class="table-responsive py-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id detalle factura</th>
						<th>Id factura</th>
						<th>Id Producto</th>
						<th>Cantidad</th>
						<th>Subtotal</th>
                        <th colspan="2">Opciones</th>
					</tr>
				</thead>
                <tbody>
                    {% for df in Detallefacturas %}
                    <tr>
						<td>{{df.id_detfac}}</td>
                        <td>{{df.id_factura}}</td>
                        <td>{{df.id_producto}}</td>
                        <td>{{df.cantidad}}</td>
                        <td>{{df.subtotal}}</td>
                        <td><a href="edicionProducto/{{df.id_detfac}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminarDetallefactura/{{df.id_detfac}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
					{% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}